*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

:root {
  --foreground: white;
  --background: black;
}

html,
body {
  background-color: var(--background);
}

.background {
  background-color: var(--foreground);
  position: fixed;
  inset: 0;
}

.text {
  position: fixed;
  inset: 0;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 35vw;
  line-height: 100dvh;
  text-align: center;
  transform-origin: center left;
}

.text--back {
  color: var(--background);
}

.text--front {
  color: var(--foreground);
}
